{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "import"],
  "rules": {
    "comma-dangle": ["warn", "never"],
    "linebreak-style": ["warn", "unix"],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "no-unused-expressions": "warn",
    "no-useless-concat": "warn",
    "block-scoped-var": "error",
    "consistent-return": "error",
    "no-mixed-operators": "off"
  }
}
